* {
    padding: 0;
    margin: 1;
}

table, td, th {
    font-size: 20px;
    border-collapse: separate;
    border: 1px solid black
}

table tr:first-child {
    background-color: steelblue;
    color: white;
}

table tr:nth-child(2n +3) {
    background-color: #aaa;
}

ul, ol {
    padding-left: 2.4rem;
}

ul {
    list-style: circle;
}

ol {
    list-style: lower-roman;
}

.box {
    height: 200px;
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 10px solid #555;
    display: inline-block;
    background-color: blue;
    color: white;
    border-radius: 100%;
    text-align: center;
}

img {
    height: 10rem;
    width: 500px;
    object-fit: cover;
}